* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo_quiz.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.image {
    width: 120px;
}

h1, h2 {
    text-align: center;
}

.main-container {
    border: 2px solid white;
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.drag-elements, .drop-elements{
    border: 2px solid black;
    display: flex;
    min-height: 230px;
    justify-content: space-around;
    padding: 24px;
    gap: 10px;

}

.names {
    border: 3px dashed white;
    min-width: 100px;
    padding: 0 10px;
    height: 100px;
    display: grid;
    place-content: center;
}

.wrong {
    text-align: center;
    font-size: 2em;
}