* {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    margin: 0; /*Eliminamos los margenes de la ventana*/
    position: relative; /*Para que el footer se quede al final*/
    min-height: 100vh; /*Para que el body mida como minimo lo que mida el viewport. Esto hace que el footer se quede al final*/
  }
  
  .header {
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }

  .container-body {
    width: 70%;
    min-width: 320px;
    margin: 0 auto;
    display: flow-root;
    max-width: 100%;
}
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 20px;
    transition: all 500ms ease;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #083057;
  }

  footer {
    background: #0769e9;
    text-align: center;
    padding: 0.5rem 0;
    position: absolute; /*Para que el footer se quede al final*/
    bottom: 0; /*Para que el footer se quede al final*/
    width: 100%; /*Para que el footer se quede al final*/
  }

  .redes-sociales {
      display: flex;
      justify-content: center;
  } 

  .redes-sociales i {
    font-size: 30px;
    padding: 20px;
    color: white;
    transition: all 500ms ease;
  }

  .redes-sociales i:hover {
    border-radius: 20px;
    background: #083057;
  }

  footer .titulo-seccion,
  footer .copy {
      color: white;
      text-align: center;
      padding-top: 20px;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }

   /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #83c5f7;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
}