html, body {
   padding: 0;
   margin: 0; 
}


body {
    background: #0769e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz {
   background: white;
   width: 30em;
   flex-wrap: wrap;
   padding: 4rem;
   text-align: center;
}

#question {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    background-color: #0769e9;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px; 
}

.button:hover {
    cursor: pointer;
    background: #083057;
}

hr {border: 0; 
    height: 0; 
    box-shadow: 0 1px 5px 1px darkblue;
}

 .animated-shadow {
   font: normal 100px Varela Round, sans-serif;
   padding: 2px 0;
   letter-spacing: 5px;
   text-align: center;
   text-align: center;
   text-transform: uppercase;
   animation: move linear 2000ms infinite;
   z-index: 2
 }

 .animated-shadow-2 {
    font: normal 40px Varela Round, sans-serif;
    padding: 2px 0;
    letter-spacing: 5px;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    animation: move linear 2000ms infinite;
    z-index: 2
  }
 /*Animación para rotar las sombras*/
 @keyframes move {
   0% {
     text-shadow:
       4px -4px 0 #da0641,
       3px -3px 0 #da0641,
       2px -2px 0 #da0641,
       1px -1px 0 #da0641,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
   25% {
     text-shadow:
       -4px -4px 0 #13f1fc,
       -3px -3px 0 #13f1fc,
       -2px -2px 0 #13f1fc,
       -1px -1px 0 #13f1fc,
       4px 4px 0 #da0641,
       3px 3px 0 #da0641,
       2px 2px 0 #da0641,
       1px 1px 0 #da0641
     ;
   }
   50% {
     text-shadow:
       -4px 4px 0 #da0641,
       -3px 3px 0 #da0641,
       -2px 2px 0 #da0641,
       -1px 1px 0 #da0641,
       4px -4px 0 #13f1fc,
       3px -3px 0 #13f1fc,
       2px -2px 0 #13f1fc,
       1px -1px 0 #13f1fc
     ;
   }
   75% {
     text-shadow:
       4px 4px 0 #13f1fc,
       3px 3px 0 #13f1fc,
       2px 2px 0 #13f1fc,
       1px 1px 0 #13f1fc,
       -4px -4px 0 #da0641,
       -3px -3px 0 #da0641,
       -2px -2px 0 #da0641,
       -1px -1px 0 #da0641
     ;
   }
   100% {
     text-shadow:
       4px -4px 0 #da0641,
       3px -3px 0 #da0641,
       2px -2px 0 #da0641,
       1px -1px 0 #da0641,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
 }

.score {
    font-family: 'Courier New', Courier, monospace;
}

#progress {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.btnInicio {
    width: 100%;
    margin-top: 40px;
    border-radius: .3rem;    
    max-width: 80px;
    text-align: center;
    height: 40px;
    background-color: #0769e9;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.btnInicio:hover {
    cursor: pointer;
    background: #083057;
}


