* {
  transition: all 0.3s;
}

body {
  padding: 0;
  background-image: url(../img/fondo_quiz.jpg);
  margin: 0;
  text-align: center;
}

.contenedor {
  width: 98vw;
  height: 97vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.encabezado {
  position: relative;
  background: #000056;
  min-width: 300px;
  width: 70%;
  max-width: 600px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  border-radius: 20px;
}

.titulo-quiz {
  opacity: 0.3;
  text-align: left;
}

.pregunta {
  padding: 10px;
  }



.imagen {
  object-fit: cover;
  height: 0px;
  width: 0px;
}

.contenedor-btnInicio {
  min-width: 300px;
  width: 30%;
  max-width: 400px;
  
}

.btnReiniciar {
    float: right;
}

.btnInicio {
    float: left;
}

.contenedor-btnInicio button {
    border-radius: 10px;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #000056;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 500ms ease;
    font-family: sans-serif;
    border: 5px solid black;
}

.contenedor-btnInicio button:hover {
    background: rgb(1, 1, 161);
    transform: scale(1.1);
}

.btn {
  background: #000056;
  width: 60%;
  color: white;
  font-weight: bold;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 500ms ease;
}

.btn:hover {
  transform: scale(1.05);
  background: #1e1efffe;
  
}

.animated-shadow {
  font: normal 50px Varela Round, sans-serif;
  padding: 2px 0;
  color: red;
  letter-spacing: 5px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  animation: move linear 2000ms infinite;
  z-index: 2
}

.animated-shadow-2 {
   font: normal 40px Varela Round, sans-serif;
   padding: 2px 0;
   letter-spacing: 5px;
   text-align: center;
   text-align: center;
   text-transform: uppercase;
   animation: move linear 2000ms infinite;
   z-index: 2
 }

/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 #13f1fc,
      -3px -3px 0 #13f1fc,
      -2px -2px 0 #13f1fc,
      -1px -1px 0 #13f1fc,
      4px 4px 0 #da0641,
      3px 3px 0 #da0641,
      2px 2px 0 #da0641,
      1px 1px 0 #da0641
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #da0641,
      -3px 3px 0 #da0641,
      -2px 2px 0 #da0641,
      -1px 1px 0 #da0641,
      4px -4px 0 #13f1fc,
      3px -3px 0 #13f1fc,
      2px -2px 0 #13f1fc,
      1px -1px 0 #13f1fc
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #13f1fc,
      3px 3px 0 #13f1fc,
      2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc,
      -4px -4px 0 #da0641,
      -3px -3px 0 #da0641,
      -2px -2px 0 #da0641,
      -1px -1px 0 #da0641
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
}

.numero{
  position: absolute;
  opacity:0.3;
  top: 10px;
  right: 10px;
  visibility: hidden;
}

.puntuacion {
  padding-bottom: 15px;
  margin-top: 70px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  color: yellow;
}

